{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <title>{% block title %}Shopping Organizer{% endblock %}</title>
</head>

<body>
    <div class="bg-dark">
      <div class="container">
        <div class="row">
            <nav class="col navbar navbar-expand-lg navbar-dark">
              <a class="navbar-brand" href="/">
                Shopping List
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav>
        </div>
      </div>
    </div>


    <div class="container">
          {% block content %}
          {% endblock %}
    </div>

    {% if latest_lists %}
        <ul>
        {% for list0 in latest_lists %}
            <li><a href="{% url 'shopping_list:detail' list0.id %}">{{ list0.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No lists are available.</p>
    {% endif %}
</body>